// checkbox & radiobutton
//
//

.checkbox, .radio
    cursor: pointer
    position: relative
    +transition(all 0.75s ease-out 0s)

input[type="checkbox"],
input[type="radio"]
    height: auto
    width: auto
    left: -9999px
    position: absolute
    visibility: hidden

input[type="checkbox"] + label

    cursor: pointer
    display: block
    margin-top: -4px
    +trailer(2)
    position: relative
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    &::before
        content: ""
        width: 18px
        height: 18px
        margin-right: 12px
        display: inline-block
        position: relative
        top: 3px
        background: transparent url(../images//checkbox-unchecked.svg) no-repeat

input[type="checkbox"]:checked + label

    &::before
        background: transparent url(../images//checkbox-checked.svg) no-repeat