//
// Inputs
// --------------------------------------------------

[type="text"],
[type="password"],
[type="search"], select
    position: relative
    border-radius: 0
    font-size: 1.8rem
    line-height: 2.4rem
    color: $input-color
    border: 1px $input-border-color solid
    width: 100%
    padding: 7px 10px
    margin-bottom: 1.4rem
    -webkit-appearance: none
    +transition(all .25s ease-out)
    +input-placeholder
        color: #b6b6b6

    &:hover
        border-color: #666

    &:focus
        border-color: #0055a6

    &.error
        border-color: $error-color
        color: $error-color

        &:focus
            border-color: $error-color

select
    cursor: pointer

.custom-select
    position: relative

    &::after
        font-family: 'icomoon'
        content: "\e607"
        font-size: 2.6rem
        position: absolute
        top: 32px
        right: 8px
        z-index: 1
        color: #0055a6

.custom-address
    position: relative

    &::after
        font-family: 'icomoon'
        content: "\e608"
        font-size: 1.6rem
        position: absolute
        top: 32px
        right: 12px
        z-index: 1
        color: #0055a6

textarea
    background: white
    min-height: 264px
    font-size: 2rem
    color: $input-color
    border: 1px $input-border-color solid
    width: 100%
    padding: 18px 26px
    +rhythm-margins(0, 1.5)
    -webkit-appearance: none
    +transition(all .25s ease-out)
    +input-placeholder
        color: $input-color

    &:focus
        border-color: #3ACEFF





