// Buttons
//
//

=button-variant($color, $background, $hover-background, $text-shadow, $disabled-background: #blue)
    color: $color
    +background($background)
    +text-shadow($text-shadow 0 -1px 0)

    //&:focus,
    &:hover,
    &:active
        +background($hover-background)
        +text-shadow(none)
        text-decoration: none

    &.disabled,
    &[disabled]
        &:hover,
        &:focus,
        &:active
            background-color: $disabled-background



