// Content
//
//

.b-content
    background-color: #f7f7f7
    position: relative

    nav
        width: 100%
        background-color: white
        margin: auto
        height: 60px
        +box-shadow(#c3c4c5 0 6px 11px -6px)

        ul
            +pie-clearfix
            margin: 0
            text-align: justify
            height: 60px

            &::after
                content: ""
                width: 100%
                height: 0
                visibility: hidden
                display: inline-block

            li
                display: inline-block

                a
                    text-decoration: none
                    display: inline-block
                    line-height: 57px

                    &.active
                        border-bottom: 3px solid $link
                        color: #4c4c4c

    .b-new-popular-magazines,
    .b-electronic-publishing,
    .b-seems,
    .b-press-city,
    .b-newspaper,
    .b-recently-viewed,
    .block-cart
        h2
            color: #010101
            +adjust-font-size-to(2.2rem)
            margin: 41px 0 21px

        .b-block-magazine
            background-color: white
            height: 294px
            padding: 16px 16px 11px
            margin-bottom: 17px
            +box-shadow(#A7A8A9 0 1px 6px)

            &.elVersion
                .magazine
                    position: relative
                    left: 16px

            .together, .publishingHouse
                font-size: 1.2rem
                color: #363636
                text-transform: uppercase
                letter-spacing: 1px
                margin-bottom: 1.6rem

            .tablet
                position: absolute
                right: 28px
                top: 48px

            figcaption
                margin-top: 14px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

            .b-description
                color: #7b7b7b
                +adjust-font-size-to(1.4rem)
                line-height: 18px

            .b-price
                position: absolute
                left: 27px
                bottom: 23px

                &__book
                    margin-right: 27px
                    color: #4c4c4c
                    font-size: 1.4rem

                    .strike
                        text-decoration: line-through
                        font-size: 1rem
                        line-height: 2.2rem
                        margin-right: 5px

                    i
                        margin-right: 5px
                        font-size: 1.4rem
                        color: #4c4c4c

                &__mobile
                    color: #4c4c4c
                    font-size: 1.4rem

                    i
                        margin-right: 5px
                        font-size: 1.4rem
                        color: #4c4c4c

        .b-recommendation
            background-color: #007fff
            color: white
            text-align: center
            padding: 14px 29px
            height: 606px
            +box-shadow(#A7A8A9 0 1px 6px)

            &__recommended
                font-size: 1.2rem
                line-height: 1.6rem
                letter-spacing: 1px
                margin-bottom: 5px

                &--tt
                    text-transform: uppercase
                    margin-bottom: 33px

            img
                margin-bottom: 17px

            &__name
                font-size: 2.4rem
                margin-bottom: 55px
                font-weight: $medium

            &__tagline
                font-size: 1.8rem

            &__show
                position: absolute
                left: 29px
                bottom: 26px

                i
                    font-size: 25px
                    margin-right: 12px
                    position: relative
                    top: 7px

                a
                    color: white
                    font-size: 1.2rem
                    line-height: 1.6rem

    .b-selection
        background-color: white
        +box-shadow(#A7A8A9 0 1px 6px)
        margin-top: 27px
        padding-right: 3px

        img
            float: left
            position: relative

            &:nth-of-type(1)
                z-index: 3

            &:nth-of-type(2)
                margin-left: -39px
                z-index: 2

            &:nth-of-type(3)
                margin-left: -35px
                z-index: 1

        &__choice
            font-size: 1.2rem
            line-height: 1.6rem
            letter-spacing: 1px
            color: #828282
            text-transform: uppercase
            margin-top: 19px

        &__heading
            font-size: 2.2rem
            line-height: 2.8rem
            color: #5f5f5f
            font-weight: $medium
            margin-bottom: 7px

        &__tagline
            font-size: 1.4rem
            line-height: 1.8rem
            color: #212121

    .b-recently-viewed
        padding-bottom: 9rem

        img
            margin-bottom: 1.2rem

    .b-cart
        position: fixed
        bottom: 0
        left: 50%
        width: 995px
        margin-left: -497px
        height: 132px
        background-color: white
        padding-top: 3rem
        z-index: 3
        +box-shadow(#A7A8A9 0 1px 22px)

        .title
            font-size: 1.4rem
            color: #4b4b4b
            padding-left: 1.2rem
            margin-bottom: 1rem

            &::after
                content: "x"
                position: absolute
                right: 22px
                top: -1px
                cursor: pointer


        &__submit
            text-align: center
            position: absolute
            width: 257px
            height: 132px
            right: 0
            top: 0
            background-color: white
            padding-top: 2.8rem

            p
                font-size: 1.8rem
                color: #4b4b4b















